<app-user></app-user>
<div class="card my-5">
  <form>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-lg-offset-4">
        <input
          type="text"
          [(ngModel)]="searchValue"
          class="form-control"
          placeholder="Search"
          id="listSearch"
          style="width: 10"
          ngDefaultControl
          [(ngModel)]="searchValue"
          name="email"
        />
      </div>
    </div>
  </form>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let course of courses
            | searchCourse: searchValue
            | paginate
              : { itemsPerPage: 5, currentPage: page, totalItems: totalLength };
          let i = index
        "
      >
        <td>{{ (page - 1) * 5 + (i + 1) }}</td>
        <td>{{ course.courseName }}</td>
        <td>{{ course.description }}</td>
        <td>
          <button
            class="btn btn-secondary btn-sm"
            (click)="enrollCourse(course.courseName)"
          >
            Enroll
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
