<div *ngIf="!isLoggedIn()" class="image">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div
      class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/userlogin">Sign In</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/registeruser">Sign Up</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">EASY LEARN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".dual-collapse2"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <!--      <li class="nav-item">
              <a class="nav-link" routerLink="/mycourses">My Courses</a>
            </li> -->
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
