.image {
  background-image: url("/assets/bg.jpg");
  background-color: #cccccc;
  height: 720px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
