.table {
  border-radius: 5px;
  width: 80%;
  margin: 0px auto;
  float: none;
}
.table td,
th {
  text-align: center;
}
.container {
  width: 80%;
}
.modal-dialog {
  width: 100%;
  float: center;
}
