<div class="back">
  <div class="div-center">
    <div class="content">
      <h3 class="font-weight-bold , text-center">Login Form</h3>
      <form [formGroup]="userLoginForm" (ngSubmit)="userLogin()">
        <div class="form-group">
          <label> Email ID:</label>
          <input class="form-control" type="text" formControlName="emailId" />
          <div
            *ngIf="
              (userLoginForm.get('emailId').invalid &&
                userLoginForm.get('emailId').touched) ||
              userLoginForm.get('emailId').dirty
            "
          >
            <small
              class="text-danger"
              *ngIf="userLoginForm.get('emailId').errors?.required"
              >Email address is required</small
            >
            <small
              class="text-danger"
              *ngIf="userLoginForm.get('emailId').errors?.email"
              >Email address is invalid</small
            >
          </div>
        </div>

        <div class="form-group">
          <label> Password:</label>
          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
          <div
            *ngIf="
              userLoginForm.get('password').invalid &&
              userLoginForm.get('password').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="userLoginForm.get('password').errors?.required"
              >Password is required</small
            >
          </div>
        </div>

        <div class="text-center float-center">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="userLoginForm.invalid"
          >
            Login
          </button>

          <a class="float-right" routerLink="/registeruser">
            new user? Sign Up here</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
